.student-dashboard {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.dashboard-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}