body{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: Arial,sans-serif;
}

.common-btn{
  background-color:#6666;
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-top: 10px;

  &:hover{
    background-color:#333333;
  }
  @media (max-width: 768px) {
font-size: 16px;

    
  }
}





.btn {
  --color: #a4c59f;   
  --color2: #2f3a2f;  
  padding: 0
  .8em 1.75em;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--color);
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
  letter-spacing: 0.5px;
}


.btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.btn:hover::after {
  transform: scaleX(1);
}

.btn:hover {
  color: white; 
}

.btn:active {
  filter: brightness(.9);
  transform: scale(.97);
}